.event-card {
	width: 100%;
	display: flex;
	border: 1rem;
	height: 129px;
	align-items: center;
	padding: 0 2rem 0 2rem;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	font-weight: 600;
	color: #3a3a3a;
}
