.sidebar {
	color: white;
	width: 18rem;
	height: 100vh;
	background-color: #303e58;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 1.5rem;
	position: sticky;
	left: 0;
	top: 0;
	bottom: 0;
}

ul {
	text-align: start;
	margin-top: 1.5rem;
}

li {
	padding: 0.6rem 2rem 0.6rem;
}

.sidebar li:hover {
	background: #ddd;
	color: black;
}
