.medium-button {
	color: white;
	background-color: #32b5f9;
	height: 44px;
	width: 207px;
	padding: 0.6rem 1rem 2rem;
	border-radius: 0.375rem;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.medium-button:hover {
	background-color: #0090d1;
}

.medium-button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.small-button {
	color: white;
	background-color: #32b5f9;
	height: 44px;
	width: 104px;
	padding: 0.6rem 1rem 2rem;
	border-radius: 0.375rem;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.small-button:hover {
	background-color: #0090d1;
}

.small-button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
